<h1>Welcome to the amazing Calculator App!</h1>
<p>Hello, glad you found us!. This app is used to calculate several different mathematical functions using two of your very-own defined numbers. 
Click on the link below to get started.</p>

<%= link_to 'Click here!', :controller => "calculation", :action => "enter" %>.</p>

<%= link_to 'Or click here for a (belated) trick or treat', :controller => "treat", :action => "trick" %>.</p>


