<h1>Welcome to the amazing Calculator App!</h1>
<p><%= flash[:error] %></p>

<p> Please return to  <%= link_to 'the main page again', :controller => "calculation", :action => "enter"  %> and re-enter some numbers!</p>

